body {
    background-color: black;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.post{
    
    width: 30%;
    margin: 50px;
    height: auto;
    
}


.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
}

.post-header i {
    font-size: 30px;
    margin: 10px;
}

.post-header p {
    justify-content: left;
}

p {
    
    
    text-align: start;
    position: left;
    font-size: small;
    margin: 2px 10px;
    
}


.post-body img {
    width: 100%;
}

.post-footer {
    background-color: white;
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    margin-inline: 20px;
    margin-bottom: 10px;
}

.post-icons i {
    display: inline;
    font-size: 20px;
}
